.header__square-pic {
    position: absolute;
    right: 0;
    top: 64x;
    bottom: 100px;
    background-color: #2f80ed;
    height: 568px;
    width: 568px;
    z-index: 1;
    overflow: hidden;
  }
