.footer__logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 183px;
    height: 35px;
    background-image: url(/First-project-yandex/blocks/footer/__logo/logo_white.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }