.footer__columns_social-link {
    font-family: 'Inter-Regular', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    margin: 0px;
    text-decoration: none;
    
  }
  
  ._icon {
    width: 16px;
    height: 16px;
    margin-left: 2px;
  }

  .footer_social {
    display: flex;
    justify-content: flex-start;
    margin: 16px auto 0px auto;
  }
  