.footer__columns_links {
    margin-left: 0px;
    width: 150px;
    font-family: "Inter-Semibold", 'Arial', sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  