.header__title {
  display: flex;
  justify-content: center;
  width: 730px;
  margin: 200px 400px 200px 64px ;
}

.header__title-text {
    font-family: 'Inter-Semibold','Arial', sans-serif;
    font-size: 102px;
    line-height: 96px;
    font-weight: 600;
  }